<body>
<div>
    <div class="jumbotron m-5">
        <div class="row">
            <div class="col-8">
                <h1>Todo List ({{incompleteCount}})</h1>

                <div style="margin: 15px">
                    {{#if currentUser}}
                        <form class="new-task">
                            <input type="text" name="text" placeholder="Type to add new tasks"/>
                        </form>
                    {{/if}}
                </div>

                <div>
                    <label class="hide-completed">
                        <input type="checkbox">
                        Hide Completed Tasks
                    </label>
                </div>
            </div>
            <div class="col-4 text-center">
                {{> loginButtons}}

            </div>
        </div>
    </div>

    <div class="jumbotron m-5">
        <ul>
            {{#each tasks}}
                {{> task}}
            {{/each}}
        </ul>
    </div>
</div>
</body>
