<template name="task">
    <div >
        <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
            <button type="button" id="delete" class="btn btn-danger" style="float: right">&times;</button>

            <input type="checkbox" checked="{{checked}}" class="toggle-checked"/>

            {{#if isOwner}}
                <button type="button" id="toggleprivate" class="btn btn-primary">
                    {{#if private}}
                        Private
                    {{else}}
                        Public
                    {{/if}}
                </button>
            {{/if}}

            <span class="text"><strong>{{username}}</strong> - {{text}}</span>
        </li>
    </div>
</template>
